<footer id="footer" style="width:100%;text-align:center;background-color:#f0f0f0;color:#1b6ca8">
    <div class="footer-logo">Read<span style="color:#ffc510">-</span>Only</div>   
    <p class="my-name">by Abhinav Barve</p>
</footer>


    <script src="/js/navbar.js"></script>
    <!-- articulate.js pluggin -->
    <script src="/js/articulate.min.js"></script>
    <script>
        function speak(obj) {
        $(obj).articulate('speak');
        };


        function pause() {
        $().articulate('pause');
        };


        function resume() {
        $().articulate('resume');
        };


        function stop() {
        $().articulate('stop');
        };


    </script>

</body>
</html> 

