<%- include("partials/header") %> 

<section style="min-height:540px"id="help">

    <div class="help-qna">
        
        <h3 class="help-q">How to start reading at Read<span style="color:#ffc510">-</span>Only?</h3>
        <p style="white-space:pre-wrap;line-height: 2;">1.Navigate to the<a href="/books"> Books</a> section from the navigation bar.
2.Choose a book you want to read about.
3.Click on the <strong>READ</strong> button to start reading.</p>


        <h3 class="help-q">How to use the Read<span style="color:#ffc510">-</span>Aloud feature?</h3>
        <p style="white-space: pre-wrap;line-height:2;">1. <button class="btn  btn-outline-dark"> <i class="fas fa-volume-up "></i> </button> Begin reading from the start.
2. <button class=" btn btn-outline-dark"> <i class="far fa-pause-circle "></i> </button> Pause reading.
3. <button class=" btn btn-outline-dark"> <i class="far fa-play-circle "></i> </button> Resume reading from where it was paused.
4. <button class=" btn btn-outline-dark"> <i class="far fa-stop-circle "></i> </button> Stop reading. 
        </p>
    </div>

</section>


<%-include('partials/footer')%>