<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <title>Read-Only | Article Published</title>


</head>


<body>
    <div class="jumbotron">
    <h1 class="display-4">Done!</h1>
    <p class="lead">Your article has published. You can now go to the books section, and see your article appear</p>
    <hr class="my-4">
    <p>To go to your article click on the button below.</p>
    <a class="btn btn-primary btn-lg" href="/books" role="button">Go to Books</a>
</div>
</body>
</html>