<%-include("partials/header")%>
<sectiOn id="why-read-only">
        
        <div class="read-only-about" >
        <h3 class="why-ro-ques">Why Read<span style="color:#ffc510">-</span>Only?</h3>    
        <p>We all have some problems every day; low grades, poor finances, depression or any strenuous situation. How we get through them is the key. Sometimes we all get down to zero and need to start again. Many of the times, one does not have someone who could help us find a solution. 
            What do we do next? Grab our phone and start scrolling social media endlessly, watch Youtube videos for an hour, or play a game maybe.
            <p>
            I bet one thing can always come to your aid. That are books. Yes, books. The sole purpose of making Read-Only is to ignite a craving to read books and promote the good habit of reading. 
            If you want to live a happy, satisfying and purposeful life you should engage yourself in reading <span style="text-decoration:line-through">books</span>, good books. Already have a happy life? Make it happier by reading books. </p>
            <p>
            As author Darren Hardy says, "Your mind is like an empty glass; it'll hold anything you put into it." Then why not something that serves you for your better.
            An average CEO reads a book a week. The most successful people all tend to have one thing in common: They are <strong>voracious readers</strong>, period .</p>
            <p>
            Wait, is that a secret? Nope, I know that, didn't I?.
            Then why do I not read books?</p>
            <h3 class="why-ro-ques">
            Here is the moment of truth.</h3>
            <p> 
            Perhaps, it's not your fault. <br>
            Who has the time to find good books? Who has the time to read the whole book?<br> Who will tell me which book is just the right one for me?
            Who would buy those expensive books? Where will I keep them? I don't have space. <br>
            Read-Only does just that for you. </p>
            <h3 class="why-ro-ques">
            How can <strong>Read<span style="color:#ffc510">-</span>Only</strong> help?
            </h3>
            <p>There are lot of books.</p>
            We find good books and tell you why you should read them, who should read them and what the message author wants to convey through the book.
            So, there's no time to lose. Find a book at <strong>Read-Only</strong> and start reading.
            Happy Reading.</p>
        
        </div>
    </sectiOn>     
<%-include("partials/footer")%>
